<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title fw-bold">
      <span data-testId="title">{{ movie.title }}</span>
      <h6 class="movie-year fw-normal">({{ movie.year }})</h6>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ movie.genre }}</h6>
    <hr />
    <div class="row g-0 mb-4">
      <img
        [src]="movie.poster"
        class="col-4 h-100 pe-4"
        alt="movie poster"
      />
      <div class="col-8 card-text">{{ movie.plot }}</div>
    </div>
    <ng-container
      *ngIf="!commentSaved; then editableContent; else readonlyComment"
    ></ng-container>
    <ng-template #editableContent>
      <div data-testId="editable-comment">
        <textarea
          data-testId="comment"
          [(ngModel)]="movie.comment"
          class="mb-1 w-100"
          placeholder="Comment"
          #comment
        ></textarea>
        <div
          [style.color]="
            movie.comment.trim().length === 0 ? 'darkred' : 'darkgreen'
          "
          data-testId="words"
        >
          {{ wordCount() }} words
        </div>
      </div>
    </ng-template>
    <ng-template #readonlyComment>
      <div data-testId="readonly-comment">
        <label class="fw-bold"> Comment: </label>
        <p>{{ movie.comment }}</p>
      </div>
    </ng-template>
    <hr />
    <button
      data-testId="save-comment"
      (click)="saveComment()"
      [disabled]="movie.comment.trim().length === 0"
      class="btn btn-outline-success me-2"
    >
      {{ commentSaved ? "Edit" : "Save" }} comment
    </button>
    <button
      (click)="clearComment()"
      [disabled]="movie.comment.trim().length === 0"
      class="btn btn-outline-warning me-2"
    >
      Clear comment
    </button>
  </div>
</div>
